@mixin default-sizing($max) {
  margin-left: 1em;
  margin-right: 1em;
  max-width: $max;
  +desktop{
    margin-left: 2em;
    margin-right: 2em;
  }
  @media screen and (min-width: $max) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
}