@import 'variables';
@import 'mixins';
@import 'StockTicker/index';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
 font-family: 'Open Sans', sans-serif;
 background-color: $background;
 box-sizing: border-box;
}
p {
  font-size: 16px;
  color: $grey1;
}
h1 {
  font-weight: 800;
  font-size: 2.3em;
  color: $grey2;
  @media screen and (min-width: 768px){
    font-size: 4em;
  }
}
h2 {
  color: $grey2;
}