.container {
  @include default-sizing(1500px);
  .stock__input {
    max-width: 525px;
    margin-bottom: 60px;
    @media screen and (min-width: 768px){
      margin-bottom: 30px;
    }
    form {
      display: flex;
      input {
        width: 70%;
        font-size: .8em;
        padding: 15px 10px;
        border: 1px solid #e6e6e6;
        background-color: transparent;
        box-sizing: border-box;
        margin-right: 5px;
        @media screen and (min-width: 400px) {
          font-size: 1.3em;
        }
      }
      button {
        width: 30%;
        font-size: 1em;
        font-weight: 800;
        text-transform: uppercase;
        margin-left: 5px;
        background-color: $blue;
        color: #fff;
        border: none;
        padding: 0px;
        box-shadow: 2px 5px 10px rgba(24,34,41,.3);
        border-radius: 3px;
        @media screen and (min-width: 400px){
          padding: 15px 10px;
        }
        span {
          display: none;
          @media screen and (min-width: 768px){
            display: inline;
          }
        }
      }
    }
  }
}
.stock__container {
 margin-top: 30px;
 margin-bottom: 20px; 
 @media screen and (min-width: 768px){
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   padding: 5px;
 }
}
.error {
  position: relative;
  p {
    color: red;
    position: absolute;
    top: -10px;
  }
}