
.stock__card {
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(24,34,41,.3);
  padding: 0px 10px 5px;
  margin: 15px 0;
  @media screen and (min-width: 767px){
    width: 48%;
    display:flex;
    padding: 0;
    margin: 15px 10px 15px 0px;
  }
  @media screen and (min-width: 1200px){
    width: 32%;
    margin: 15px 13px 15px 0px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px){
      width: 66%;
      display: block;
      padding: 0px 22px 15px;
    }
    .company {
      width: 33%;
      @media screen and (min-width: 767px){
        width: 100%;
      }
      .name {
        margin: 16px 0px 0px;
        width: 100%;
        font-size: 22px;
      }
      .symbol {
        text-transform: uppercase;
        width: 25%;
        margin-top: 0px;
      }
    }
    .totals {
      width: 66%;
      @media screen and (min-width: 767px){
        width: 100%;
        display: flex;
        margin-bottom: 20px;
      }
      svg {
        width: 11px;
        height: 11px;
        margin-right: 5px;
      }
      .close {
        font-size: 28px;
        margin: 16px 0px;
        text-align: right;
        color: $grey2;
        @media screen and (min-width: 767px){
          display: inline-block;
          text-align: left;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
      .difference {
        margin-top: -16px;
        text-align: right;
        @media screen and (min-width: 767px){
          margin-top: auto;
          margin-bottom: 0;
          margin-left: 20px;
        }
        p {
          display: inline;
          &.percentage {
            margin-left: 10px;
          }
        }
        
      }
    }
    .daily {
      display: none;
      @media screen and (min-width: 767px){
        display: block;
      }
      p {
        text-transform: uppercase;
        display: inline-block;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: .8em;
        font-weight: 600;
        span {
          color: $grey2;
          font-weight: 700;
        }
      }
      .open {
        width: 50%;
        box-sizing: border-box;
        @media screen and (min-width: 1200px){
          width: 33%;
        }
      }
      .high {
        width: 50%;
        box-sizing: border-box;
        @media screen and (min-width: 1200px){
          width: 33%;
        }
      }
    }
    
  }
  &.up {
    .difference {
      p {
        color: $green;
      }
      svg {
        fill: $green;
      }
    }
  }
  &.down {
    .difference {
      svg {
        fill: $red;
      }
    }
  }
}